---
import Base from "../layouts/Base.astro";
---

<Base titre="Page d'accueil">
    <div class="flex flex-col items-center p-36">
        <h1 class="text-center text-3xl font-playfair">
            Bienvenue sur notre site Immobilier
        </h1>
        <a
            class="px-4 py-2 m-4 bg-black text-white rounded-md text-sm font-playfair"
            href="">Découvrir</a
        >
    </div>
</Base>
