---
import Base from "../../../layouts/Base.astro";
import { byPrice } from "../../../backend.mjs";

const { prix } = Astro.params;
const offres = await byPrice(prix);
if (!offres) {
    return Astro.redirect("/offres");
}
---

<Base>
    <h1>Maisons avec un prix infèrieur à {prix}</h1>
    <ul>
        {
            offres.map((maison) => (
                <li>{maison.nom_maison}</li>
                <li>{maison.prix_maison}</li>
            ))
        }
    </ul>
</Base>
