---
const { ...offre } = Astro.props;
---

<div
    class="flex flex-col items-center justify-center mx-auto w-2/5 rounded-md shadow-lg my-4"
>
    <div class="">
        <img src={offre.img} alt="Image de la maison" />
    </div>
    <h2 class="font-bold text-2xl">{offre.nom_maison}</h2>
</div>
