---
const { ...agent } = Astro.props;
---

<a
  href={`/agents/${agent.id}`}
  class="block max-w-sm mx-auto my-6 bg-white rounded-xl p-8 border border-gray-100 shadow-sm hover:shadow-md transition-all duration-300 hover:-translate-y-0.5"
>
  <div class="text-center space-y-3">
    <h3 class="text-2xl font-light text-gray-900">
      <span class="block text-sm uppercase text-gray-500 mb-1"
        >Agent Immobilier</span
      >
      {agent.prenom_agent}
      <span class="font-medium">{agent.nom_agent}</span>
    </h3>
    <span
      class="inline-block text-gray-600 text-sm group-hover:text-black transition-colors duration-200"
    >
      <span class="border-b border-gray-300 group-hover:border-black pb-0.5">
        {agent.email_agent}
      </span>
    </span>
  </div>
</a>
