<footer class="pb-24 bg-black text-white p-16 mt-6">
  <nav>
    <div class="flex justify-center mb-8">
      <a href="/">Accueil</a>
    </div>

    <ul class="flex justify-around mb-4">
      <li>
        <a href="">Contact</a>
      </li>
      <li>
        <a href="">Chercher un logement</a>
      </li>
      <li>
        <a href="">Mentions légales</a>
      </li>
      <li>
        <a href="">FAQ</a>
      </li>
    </ul>

    <ul class="flex justify-center gap-4 text-gray-300 mt-20">
      <li class="underline">
        <a href="">Termes d'utilisations</a>
      </li>
      <li class="underline">
        <a href="">Données personnelles</a>
      </li>
      <li class="underline">
        <a href="">Cookies</a>
      </li>
      <li class="underline">
        <a href="">Mettre à jour les préférences</a>
      </li>
      <li class="underline">
        <a href="">Termes Générales</a>
      </li>
    </ul>
  </nav>
</footer>
