<footer class="pb-24 bg-black text-white p-16 border-white border-t-2">
  <nav>
    <div class="flex justify-center mb-8">
      <a href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 9.75L12 3l9 6.75V21a1.5 1.5 0 01-1.5 1.5H4.5A1.5 1.5 0 013 21V9.75z"
          ></path>
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 21V12h6v9"
          ></path>
        </svg>
      </a>
    </div>

    <ul class="flex justify-around mb-4">
      <li>
        <a href="" class="font-playfair text-xl">Contact </a>
      </li>
      <li>
        <a href="" class="font-playfair text-xl">Chercher un logement</a>
      </li>
      <li>
        <a href="" class="font-playfair text-xl">Mentions légales</a>
      </li>
      <li>
        <a href="" class="font-playfair text-xl">FAQ</a>
      </li>
    </ul>

    <ul class="flex justify-center gap-4 text-gray-300 mt-20">
      <li class="underline">
        <a href="" class="font-playfair">Termes d'utilisations</a>
      </li>
      <li class="underline">
        <a href="" class="font-playfair">Données personnelles</a>
      </li>
      <li class="underline">
        <a href="" class="font-playfair">Cookies</a>
      </li>
      <li class="underline">
        <a href="" class="font-playfair">Mettre à jour les préférences</a>
      </li>
      <li class="underline">
        <a href="" class="font-playfair">Termes Générales</a>
      </li>
    </ul>
  </nav>
</footer>
