<header class="bg-black text-white flex justify-between p-5 font-montserrat">
    <div>
        <a href="/">Accueil</a>
    </div>

    <nav>
        <ul class="flex align-center gap-20">
            <li><a href="offres">Offres</a></li>
            <li><a href="">Acheter</a></li>
            <li><a href="">Louer</a></li>
            <li><a href="">Prendre rendez-vous</a></li>
        </ul>
    </nav>

    <div>
        <a href="">Favoris</a>
        <a href="">Connexion</a>
    </div>
</header>
