---
import { getOffre } from "../../backend.mjs";
import Base from "../../layouts/Base.astro";

const { id } = Astro.params;
const offre = await getOffre(id);
---

<Base titre={offre.nom_maison}>
    <h2>{offre.nom_maison}</h2>
    <ul>
        <li>{offre.adresse_maison}</li>
        ...
    </ul>
</Base>
