---
import Base from "../../../layouts/Base.astro";
import { bySurface } from "../../../backend.mjs";

const { surface } = Astro.params;
const offres = await bySurface(surface);
console.log(offres);

if (!offres) {
    return Astro.redirect("/offres");
}
---

<Base>
    <h1>Maisons avec surface supérieure à {surface} m²</h1>
    <ul>
        {
            offres.map((maison) => (
                <li>{maison.nom_maison}</li>
                <li>{maison.surface_maison}</li>
            ))
        }
    </ul>
</Base>
