---
import Base from "../../../layouts/Base.astro";
import { bySurface } from "../../../backend.mjs";
import Card from "../../../components/Card.astro";

const { surface } = Astro.params;
const offres = await bySurface(surface);
console.log(offres);

if (!offres) {
    return Astro.redirect("/offres");
}
---

<Base>
    <h1>Maisons avec surface supérieure à {surface} m²</h1>
    <ul class="flex flex-col justify-center items-center">
        {offres.map((offre) => <Card {...offre} />)}
    </ul>
</Base>
